@media(min-width: 1560px){
    .container{
        max-width: 1520px;
    }
}

@media(max-width: 1559px){
    .header-item img {
        max-width: 250px;
        height: fit-content;
    }
    .theme-para {
        font-size: 20px;
    }
    .main-content-wrapper p {
        font-size: 30px;
    }
    .theme-heading {
        font-size: 60px;
    }
    .service-top {
        padding: 32px 40px;
    }
    .service-top h3 {
        font-size: 25px;
    }
    .service-top p {
        font-size: 17px;
    }
    .bi-services .container-fluid {
        overflow: hidden;
    }
    .crafting-wrapper {
        gap: 55px;
    }
    .crafting-item h3 {
        font-size: 21px;
    }
    .crafting-item p {
        font-size: 17px;
        line-height: 1.35em;
    }
    .elevate-content h3 {
        font-size: 41px;
    }
    .elevate-content.counter h3 {
        font-size: 7vw;
    }
    .elevate-content.counter p {
        font-size: 20px;
    }
    .list-content {
        padding-right: 30px;
    }
    .list-img img {
        height: 415px;
    }
    .projects-highlights div {
        font-size: 12px;
    }
    .projects-slider-img img {
        height: 430px;
    }
    .projects-slider-content .theme-para {
        font-size: 24px;
    }
    .testimonial-wrapper {
        margin-left: 130px;
    }

    .testimonial-content {
        font-size: 20px;
    }

    .testimonial-item img {
        height: 40px;
    }

    .testimonial-item .bi-btn img {
        height: fit-content;
    }

    .testimonial-item .bi-btn {
        font-size: 14px !important;
    }

    .bi-faq-wrapper .accordion-button {
        font-size: 26px;
    }

    .bi-faq-wrapper .accordion-body {
        font-size: 17px;
    }

    .bi-celebrating .container-fluid {
        padding: 310px 0 200px;
    }
    .footer-left img {
        max-width: 300px;
    }
    .footer-right a {
        font-size: 55px;
    }
    .container.bottom-footer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .bottom-footer .d-flex a {
        font-size: 15px;
    }
    .copywrite {
        width: 100%;
        text-align: center;
    }
    .inner-page .bi-hero {
        padding: 160px 0 100px;
    }
    .inner-page .hero-heading {
        font-size: 46px;
        letter-spacing: -2px;
    }
    .heading-wrapper p {
        font-size: 18px;
    }
    .inner-page .bi-about .sub-heading-wrapper p {
        font-size: 40px;
    }
    .highlight-list-item p {
        font-size: 15px;
    }

    .highlight-list-item h4 {
        font-size: 22px;
    }

    .package-wrapper {
        padding: 30px;
    }

    .inner-page .theme-para.big {
        font-size: 26px;
    }
    .container, .container-fluid {
        padding-inline: 33px;
    }

    .bi-hero .container, .container-fluid {
        padding-inline: inherit;
    }
    ul.menu a {
        font-size: 32px;
    }

    ul.service-menu a {
        font-size: 26px;
    }
}

@media(max-width: 767px){
    .hero-heading {
        font-size: 6.229vw;
    }
    .img-fluid.hero-scroll {
        bottom: 22.792vw;
        max-width: 50px;
    }
    .success-wrapper .letter {
        font-size: 25vw;
    }
    .header-item img {
        max-width: 160px;
    }
    .header-item h5 {
        display: none;
    }
    .bi-header .bi-btn {
        font-size: 14px;
        padding: 7px 23px;
    }
    .menu-icon {
        padding: 14px 6px;
        width: 40px;
    }
    .bi-hero {
        padding: 200px 0 200px;
    }
    .heading-wrapper {
        height: 75px;
    }
    .top-content {
        flex-wrap: wrap;
    }
    .top-content .theme-heading {
        margin-bottom: 20px;
    }
    .bi-about {
        padding: 100px 0;
    }
    .main-content-wrapper p {
        font-size: 22px;
    }
    .theme-para {
        font-size: 17px;
    }
    .bi-services .container-fluid {
        padding: 100px 0;
    }
    .theme-heading {
        font-size: 45px;
    }
    .bi-services .row {
        margin-top: 40px;
    }
    .service-top {
        padding: 25px 30px;
    }
    .service-wrapper img {
        width: 100%;
    }
    .service-top img {
        width: fit-content;
    }
    .service-wrapper {
        margin-bottom: 20px;
    }
    .service-wrapper.margin-top {
        margin-top: 0px;
    }
    .crafting-item {
        width: 100%;
    }
    .crafting-wrapper {
        margin-top: 40px;
        gap: 30px;
    }
    .elevate-wrapper {
        margin-bottom: 25px;
    }
    .elevate-content h3 {
        font-size: 34px;
        letter-spacing: -2px;
    }
    .counter h3 {
        font-size: 50px !important;
        letter-spacing: -2px !important;
    }
    .bi-crafting-experience {
        padding: 90px 0;
    }
    .projects-list {
        margin-top: 40px;
    }
    .list-content h3 {
        font-size: 30px;
    }
    .projects-highlights {
        flex-wrap: wrap;
    }
    .list-content .theme-para {
        font-size: 16px;
    }
    .list-content {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .list-img img {
        height: 350px;
        border-radius: 20px;
    }
    .top-content.second {
        margin: 90px 0 45px;
    }
    .projects-slider-item {
        padding: 30px 80px 100px 30px;
        border-radius: 20px 80px 20px 20px;
    }
    .projects-slider-content .gradient-heading {
        font-size: 50px;
        font-weight: 600;
        margin-top: 45px;
    }
    .projects-slider-content .theme-para {
        font-size: 20px;
    }
    .projects-slider-img {
        margin-right: -50px;
    }
    .projects-slider-img img {
        height: 330px;
    }
    .bi-btn {
        font-size: 14px;
        padding: 11px 25px;
    }
    .bi-projects .container-fluid {
        padding: 80px 0;
    }
    .bi-logos {
        padding: 70px 0 65px;
    }
    .bi-testimonial .container-fluid {
        padding: 80px 0 20px;
    }
    .testimonial-content-wrapper {
        margin-bottom: 45px;
    }
    .testimonial-wrapper {
        margin-left: 0;
    }
    .testimonial-content {
        font-size: 18px;
    }
    .author h2 {
        font-size: 18px;
    }
    .bi-faq-wrapper {
        margin-top: 70px;
    }
    .bi-faq-wrapper .theme-heading {
        margin-bottom: 24px;
    }
    .bi-faq-wrapper .accordion-button {
        font-size: 20px;
    }
    .bi-celebrating .container-fluid {
        padding: 300px 0 70px;
    }
    .footer-left img {
        margin-bottom: 40px;
    }
    .footer-list a {
        font-size: 17px;
    }
    .footer-list {
        margin: 0px 0 15px;
    }
    .footer-right a {
        font-size: 40px;
        letter-spacing: -2px;
        margin-bottom: 30px;
    }
    .bottom-footer .d-flex {
        flex-wrap: wrap;
    }
    .footer-right {
        text-align: left;
    }
    .footer-right .bi-btn.transparent {
        margin-right: auto;
        margin-left: 0;
    }
    .hero-cursor{
        display: none;
    }
    .inner-page .hero-heading {
        font-size: 25px;
        letter-spacing: -1px;
    }

    .heading-wrapper p {
        font-size: 14px;
    }

    .inner-page .heading-wrapper {
        max-width: 100%;
        padding-left: 110px;
        height: 100px;
        margin-top: -180px;
        margin-bottom: -10px;
    }

    .inner-page .bi-hero {
        padding: 160px 0 100px;
    }
    .inner-page .bi-about {
        padding: 75px 0 100px;
    }

    .inner-page .bi-about .sub-heading-wrapper p {
        font-size: 32px;
        letter-spacing: -2px;
    }

    .main-content-wrapper p {
        font-size: 20px;
    }

    .project-slider {
        margin-top: 70px;
    }

    .project-item img {
        height: 300px;
    }

    .img-wrapper {
        position: relative;
        bottom: -75px;
    }

    .after-slider .container-fluid {
        padding: 75px 0;
    }

    .heading-btn-wrapper {
        flex-wrap: wrap;
    }

    .highlight-list-wrapper {
        flex-wrap: wrap;
    }

    .highlight-list-item {
        max-width: 100%;
    }

    .bi-packages .row {
        margin-top: 40px;
    }

    .package-wrapper {
        margin-top: 20px;
    }

    .package-price {
        font-size: 44px;
    }

    .package-name {
        font-size: 20px;
    }

    .bi-content-with-image {
        padding: 80px 0;
    }

    .inner-page .theme-para.big {
        font-size: 22px;
    }
    .inner-page.about-us.contact-us .row {
        margin-top: 0;
    }

    .bi-contact {
        padding: 75px 0;
    }
    .inner-page .heading-wrapper.bigger {
        max-width: 93%;
    }
    .inner-page .heading-wrapper {
        padding-left: 35px;
    }
    .privacy-policy .bi-contact {
        padding: 40px 0 60px;
    }
    .privacy-policy .bi-contact {
        padding: 40px 0 60px;
    }

    .privacy-policy .bi-contact .theme-heading {
        font-size: 32px;
    }

    .privacy-policy .bi-contact .theme-para {
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .success-wrapper .letter {
        font-size: 85px;
    }

    .img-fluid.hero-scroll {
        max-width: 35px;
    }

    .hero-heading {
        font-size: 25px;
        letter-spacing: -1px;
    }

    .bi-about {
        padding: 70px 0;
    }

    .main-content-wrapper p {
        font-size: 18px;
    }

    .theme-para {
        font-size: 14px;
    }

    .bi-services .container-fluid {
        padding: 70px 0 20px;
    }

    .theme-heading {
        font-size: 30px;
    }

    .service-top {
        padding: 20px 22px;
    }

    .service-top h3 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .service-top p {
        font-size: 14px;
    }

    .bi-crafting-experience {
        padding: 65px 0;
    }

    .bi-crafting-experience .theme-para {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .crafting-item img {
        max-width: 40px;
    }

    .crafting-item h3 {
        font-size: 18px;
    }

    .crafting-item p {
        font-size: 14px;
    }

    .elevate-content h3 {
        font-size: 25px;
    }

    .elevate-content p {
        font-size: 14px;
        max-width: 100%;
    }

    .elevate-content {
        bottom: 30px;
        left: 30px;
    }

    .elevate-content.counter p {
        margin-bottom: 0;
        font-size: 15px;
    }

    .projects-list-item {
        padding: 26px 20px;
    }

    .list-content .theme-para {
        font-size: 14px;
    }

    .list-img img {
        height: 305px;
    }

    .projects-slider-content .theme-para {
        font-size: 16px;
    }

    .projects-slider-img img {
        height: 220px;
    }

    .bi-btn {
        font-size: 13px !important;
    }

    .bi-testimonial .container-fluid {
        padding: 50px 0 20px;
    }

    .testimonial-content-wrapper .theme-para {
        margin: 22px 0 20px;
    }

    .testimonial-item {
        padding: 22px;
    }

    .testimonial-content {
        font-size: 16px;
    }

    .author h2 {
        font-size: 15px;
    }

    .bi-faq-wrapper .accordion-button {
        font-size: 16px;
    }

    .bi-faq-wrapper .accordion-body {
        font-size: 14px;
        padding: 0 20px 5px;
        opacity: .8;
    }

    .footer-left img {
        max-width: 200px;
        margin-bottom: 25px;
    }

    .footer-list {
        margin: 0px 0 8px;
    }

    .footer-list a {
        font-size: 14px;
    }

    .footer-right a {
        font-size: 30px;
    }

    .bottom-footer .d-flex a {
        font-size: 13px;
    }
    .inner-page .img-fluid.hero-scroll {
        bottom: -2.208vw;
        max-width: 35px;
    }
    .inner-page .heading-wrapper {
        padding-left: 70px;
        margin-top: -230px;
        margin-bottom: -10px;
    }
    .inner-page .hero-heading {
        font-size: 20px;
    }
    .heading-wrapper p {
        font-size: 12px;
    }
    .inner-page .heading-wrapper {
        margin-top: -278px;
        margin-bottom: 10px;
    }
    .inner-page .bi-about .sub-heading-wrapper p {
        font-size: 26px;
        letter-spacing: -1px;
    }

    .main-content-wrapper p {
        font-size: 16px;
    }

    .inner-page .theme-para.big {
        font-size: 18px;
    }
    .img-wrapper img {
        border-radius: 22px;
    }
    .inner-page .heading-wrapper {
        padding-left: 18px;
        height: fit-content;
    }
    .inner-page .heading-wrapper.bigger {
        max-width: 93%;
    }
    .heading-wrapper p {
        margin-bottom: 0;
    }

    .bi-header .bi-btn {
        display: none;
    }

    .menu-icon {
        padding: 11px 4px;
        width: 34px;
    }

    .bi-content-with-image .row {
        flex-direction: column-reverse;
    }

    .inner-page .theme-para.big {
        margin-top: 14px;
    }

    .bi-content-with-image .theme-heading {
        margin-top: 30px;
    }

    .celebrating-overlay {
        max-width: 130px;
    }

    .celebrating-wrapper img {
        max-width: 135px;
    }

    .bi-celebrating .container-fluid {
        padding: 65px 0 0px;
    }

    .celebrating-wrapper h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .container.bottom-footer p {
        font-size: 13px;
    }

    .bottom-footer .d-flex a {
        font-size: 10px;
    }

    .bi-footer .container-fluid {
        padding: 60px 0 140px;
    }

    .copywrite {
        font-size: 13px;
    }
    .bi-faq-wrapper .accordion-body {
        font-size: 12px;
    }
    ul.menu a {
        font-size: 25px;
    }

    ul.service-menu a {
        font-size: 18px;
    }
    .package-list {
        height: fit-content;
    }
    .package-price {
        font-size: 35px;
        margin-bottom: 10px;
        display: block;
    }

    .package-name {
        font-size: 18px;
        margin-bottom: 0;
    }

    .package-list {
        font-size: 13px;
    }
    .bi-packages .container-fluid {
        padding: 75px 0 14px;
    }
    .highlight-list-item {
        padding: 20px;
    }

    .highlight-list-item p {
        font-size: 13px;
    }

    .highlight-list-item h4 {
        font-size: 20px;
    }

    .highlight-list-item img {
        margin-bottom: 20px;
        max-width: 40px;
    }

    .bi-projects-highlights {
        padding: 75px 0;
    }
    .bi-faq-wrapper .accordion-button {
        padding: 8px;
        font-size: 15px;
    }

    .bi-faq-wrapper .accordion-body p {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .bi-faq-wrapper .accordion-body {
        padding-inline: 10px;
    }
    .footer-right a {
        margin-bottom: 25px;
    }

    .footer-right img {
        margin-bottom: 20px;
    }
    .hero-video-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-us .bi-content-with-image .theme-heading {
        margin-top: 0;
    }

    .inner-page.about-us .bi-content-with-image .row {
        margin-top: 0;
    }

    .about-mission-wrapper {
        flex-wrap: wrap;
    }

    .about-mission-wrapper .item-wrapper {
        width: 100%;
        padding: 35px 20px;
        flex: 1 0 100%;
        height: fit-content;
    }

    .about-mission-wrapper .item-wrapper img {
        margin-bottom: 26px;
        max-width: 40px;
    }

    .about-mission-wrapper p {
        font-size: 13px;
        margin-bottom: 0;
    }

    .timeline__cover .timeline ul li .content {
        width: calc(100vw - 120px);
    }

    .timeline__cover .timeline {
        padding-top: 0;
    }

    .timeline__cover {
        background: transparent;
    }

    .rapid-response-wrapper {
        flex-wrap: wrap;
    }

    .rapid-item {
        padding: 20px 30px 20px 30px;
        background-color: rgb(255 255 255 / 10%);
    }

    .rapid-item h3 {
        font-size: 20px;
    }

    .rapid-item p {
        font-size: 13px;
        margin-bottom: 0;
    }

    .rapid-item img {
        margin-bottom: 20px;
    }
    .celebrating-wrapper h2 {
        font-size: 25px;
    }
    .inner-page .bi-faq-wrapper {
        padding-bottom: 50px;
    }
    .slick-arrow {
        padding: 7px;
        max-width: 26px;
    }
    .list-content .bi-btn.transparent {
        padding: 9px 17px;
        font-size: 12px !important;
    }
    .container, .container-fluid {
        padding-inline: 15px;
    }
}